version: '3.8'
services:
  web:
    build: .
    #ports:
    #  - "5000:5000"
    volumes:
      - .:/app
      - ./config:/config  # Mount the config directory
    environment:
      - OPENWEATHERMAP_API_KEY=your_api_key_here
      - OPENWEATHERMAP_CITY=London
      - CHURCHSUITE_URL=your_CS_JSON_here
      - PREHEAT_TIME_MINUTES=30
      - DEFAULT_TEMPERATURE=19
      - ECO_TEMPERATURE=12
      - TEMPERATURE_SENSITIVITY=10
      - PREHEAT_ADJUSTMENT_MINUTES_PER_DEGREE=5
      - CONFIG_FILE=/config/config.json
      - LOGGING_LEVEL=DEBUG
      # Neohub Configuration (Example - can be overridden by individual NEOHUB_* variables)
      - NEOHUB_1_NAME="main_church"
      - NEOHUB_1_ADDRESS=your_IP_here
      - NEOHUB_1_PORT=4243
      - NEOHUB_1_TOKEN=your_api_key_here
      # Neohub 2
      - NEOHUB_2_NAME="church_hall"
      - NEOHUB_2_ADDRESS=your_hostname_here
      - NEOHUB_2_PORT=4243
      - NEOHUB_2_TOKEN=your_api_key_here
    restart: unless-stopped
